﻿@{
    ViewBag.Title = "zodiaco";
}

<section id="myCarousel" class="carousel slide">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-2.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-1.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-3.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>
<section class="featured">

    <div class="container">

        <!-- Header Carousel -->
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenido a zodiaco<br />
                    <small>     Conoce Nuestro Portafolio de Productos</small>
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Joyeria</h4>
                    </div>
                    <div class="panel-body">
                        <p></p>

                        <img class="img-responsive img-portfolio img-hover" src="~/Images/joyeria.jpg" alt="">
                        <br>
                        <p>@Html.ActionLink("¡¡Conoce mas..!!", "joyeria", "categorias", null, htmlAttributes: new { @class = "btn btn-default" })</p>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Relojeria</h4>
                    </div>
                    <div class="panel-body">
                        <p></p>
                        <img class="img-responsive img-portfolio img-hover" src="~/Images/relojeria.jpg" alt="">
                        <br>
                        <p>@Html.ActionLink("¡¡Conoce mas..!!", "relojeria", "categorias", null, htmlAttributes: new { @class = "btn btn-default" })</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Detalles</h4>
                    </div>
                    <div class="panel-body">
                        <p>  </p>
                        <img class="img-responsive img-portfolio img-hover" src="~/Images/detalles.jpg" alt="">
                        <p>Para una ocasion especial, ven a zodiaco, podras encontrar variadad en detalles que deslumbraran</p>
                        <p>@Html.ActionLink("¡¡Conoce mas..!!", "detalle", "categorias", null, htmlAttributes: new { @class = "btn btn-default" })</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
        <hr>
        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-10">
                    <p>Joyeria zodiaco tiene lo mejor para ti.</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-lg  btn-default" href="#">Ve al Inicio</a>
                </div>
            </div>
        </div>
        <hr>

    </div>
</section>

