﻿@model ZodiacoFinal.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mision1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mision1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
