﻿@model IEnumerable<ZodiacoFinal.Empresa>


<section class="featured">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    zodiaco
                    <small>Nuestra Historia</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="~/Default.cshtml">Inicio</a>
                    </li>
                    <li class="active">Historia</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1ses!2s!4v1437967437448!6m8!1m7!1s-2dAJmDNMY6VKsPkAlUD-Q!2m2!1d1.616244!2d-75.613425!3f349.1564425665318!4f-7.332553000761564!5f0.7820865974627469"></iframe>

            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Detalles)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Detalles)
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>

        <hr>
        <!-- Footer -->

    </div>

</section>
