﻿@model IEnumerable<ZodiacoFinal.Empresa>



<section class="featured">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Visión
                    <small>zodiaco</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "empresas")
                    </li>
                    <li class="active">Visión</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="~/Images/vision.jpg" alt="">
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Vision1)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Vision1)
                            </td>
                        
                        </tr>
                    }

                </table>
            </div>
        </div>
        <!-- /.row -->
        <hr />
</section>



   