﻿@model ZodiacoFinal.categoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_catg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_catg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_catg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_catg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adicional)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
