﻿@{
    ViewBag.Title = "detalle";
}
<section id="myCarousel" class="carousel slide">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <div class="fill" style="background-image:url('../../Images/detalles 1.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/detalles 2.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-3.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>
<script>
    $('.carousel').carousel({
        interval: 1500 //changes the speed
    })
</script>
<section class="featured">

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Detalles
                    <small>zodiaco</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "empresas")
                    </li>
                    <li class="active">Detalles</li>
                </ol>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d1.jpg" alt="">
                </a>
                <h3>
                    Cadena en oro con encrustación en diamantes
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d2.jpg" alt="">
                </a>
                <h3>
                    Cadena en Oro Rosado Detalles: Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d3.jpg" alt="">
                </a>
                <h3>
                    Cadena en oro blanco, Detalles: Diamante
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->
        <hr />
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Aretes/d4.jpg" alt="">
                </a>
                <h3>
                    Aretes en oro blanco, Detalle: Ruby
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/pulseras/d5.jpg" alt="">
                </a>
                <h3>
                    Pulsera Inn en oro
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Aretes/d6.jpg" alt="">
                </a>
                <h3>
                    Aretes en oro con perlas titin
                </h3>
                <p></p>
            </div>
        </div>
        <!-- Projects Row -->
        <hr />

        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d7.jpg" alt="">
                </a>
                <h3>
                    Cadena Zoo en oro blanco, Detalle: Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d8.gif" alt="">
                </a>
                <h3>
                    Cadena Diaco en Oro Blanco, detalles: Diamantes
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/cadenas/d9.jpg" alt="">
                </a>
                <h3>
                    Cadena Hombre en Oro
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->


    </div>

</section>

