﻿@{
    ViewBag.Title = "joyeria";
}
<section id="myCarousel" class="carousel slide">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <div class="fill" style="background-image:url('/Images/joyeria 1.png');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/Images/joyeria 2.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/Images/joyeria 3.jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>
<script>
    $('.carousel').carousel({
        interval: 1500 //changes the speed
    })
</script>
<section class="featured">

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Joyeria
                    <small>zodiaco</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "empresas")
                    </li>
                    <li class="active">Joyeria</li>
                </ol>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (0).jpg" alt="">
                </a>
                <h3>
                    Dama: Anillo en Oro blanco, encutrado en Diamantes
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (1).png" alt="">
                </a>
                <h3>
                    Anillo de 15 Años en Oro, detalles : Diamantes
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (2).jpg" alt="">
                </a>
                <h3>
                    Dama Reina: Anillo para dama en Oro, Encrustado: Diamantes
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->
        <hr />
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (3).jpg" alt="">
                </a>
                <h3>
                    Dama: Anillo en Oro, Encrustado : Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (4).jpg" alt="">
                </a>
                <h3>
                    Pareja: Anillos de Matrimonio en Oro, Detalle: Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (5).jpg" alt="">
                </a>
                <h3>
                    Dama: Anillo en Oro, Encrustado : Diamante
                </h3>
                <p></p>
            </div>
        </div>
        <!-- Projects Row -->
        <hr />

        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (6).jpg" alt="">
                </a>
                <h3>
                    Dama: Anillo en Oro blanco, Encrustado y Destellos: Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo (7).jpg" alt="">
                </a>
                <h3>
                    Dama: Anillo en Oro, Encrustado : Diamante
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/anillos/anillo(8).jpg" alt="">
                </a>
                <h3>
                    Dama : Anillo en Oro, Encrustado y Detalles : Diamante
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->




    </div>
</section>

