﻿@{
    ViewBag.Title = "relojeria";
}
<section id="myCarousel" class="carousel slide">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-reloj (1).jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-reloj (2).jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/carousel/carousel-reloj (3).jpg');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>
<script>
    $('.carousel').carousel({
        interval: 500 //changes the speed
    })
</script>
<section class="featured">

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Relojeria
                    <small>zodiaco</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Inicio", "Index", "empresas")
                    </li>
                    <li class="active">Relojeria</li>
                </ol>
            </div>
        </div>
        <!-- Projects Row -->

        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r4.jpg" alt="">
                </a>
                <h3>
                    Invicta: Reloj en Oro para Dama
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r5.jpg" alt="">
                </a>
                <h3>
                    Invicta: Reloj para Dama
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r6.jpg" alt="">
                </a>
                <h3>
                    Tommy Hilfiger: Reloj para Caballero
                </h3>
                <p></p>
            </div>
        </div>-->
        <!-- Projects Row -->
        <hr />

        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r7.png" alt="">
                </a>
                <h3>
                    Dimario : Reloj para Caballero
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r8.png" alt="">
                </a>
                <h3>
                    Giovanni Valentino: Reloj para Caballero
                </h3>
                <p></p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="~/Images/Relojeria/r9.jpg" alt="">
                </a>
                <h3>
                    Diesel: Reloj para Caballero
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Pagination -->



    </div>

</section>

