﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title zodiaco</title>
    <link rel="shortcut icon" href="~/z.ico" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/modern.css")
    @Styles.Render("~/font-awesome/css/font-awesome.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="~/Views/empresas/Index.cshtml"><img src="~/Images/logotipo.png" width="142" height="42"></a>-->
                            <p>@Html.ActionLink("siteHeader", "Index", "Home", null, new { @class = "site-logo" })</p>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                           

                            @*Aqui traemos la clase*@
                            @Html.Partial("_LoginPartial")
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()



    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="fo">© 2015 zodiaco Todos los derechos reservdos</p>
                    <p class="fo">Horario de Atención al publico:  Lunes a Viernes de 8:00 a.m. a 8:00 p.m.</p>
                    <p class="fo">Florencia - Caquetá</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
