﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerca de Nosotros<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Editar", "Index", "Empresas")
                </li>
               
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Joyeria", "joyeria", "categorias")
                </li>
                <li>
                    @Html.ActionLink("Relojeria", "relojeria", "categorias")
                </li>
                <li>
                    @Html.ActionLink("Detalles", "detalle", "categorias")
                </li>
            </ul>
        </li>

        <li>
            @Html.ActionLink("Servicios", "servicio", "empresas")
        </li>
        <li>
            @Html.ActionLink("Contacto", "contacto", "empresas")
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesion</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
       
    </ul>
    }
}
else
{
    
    @*Usuario*@
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerca de Nosotros<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Historia", "hitoria", "Empresas")
                </li>
                <li>
                    @Html.ActionLink("Visión", "vision1", "Empresas")
                </li>
                <li>
                    @Html.ActionLink("Misión", "mision1", "Empresas")
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Joyeria", "joyeria", "categorias")
                </li>
                <li>
                    @Html.ActionLink("Relojeria", "relojeria", "categorias")
                </li>
                <li>
                    @Html.ActionLink("Detalles", "detalle", "categorias")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Servicios", "servicio", "empresas")
        </li>
        <li>
            @Html.ActionLink("Contacto", "contacto", "empresas")
        </li>
       
        <li>@Html.ActionLink("Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
   
}
